dt {
    font-weight: normal;
}
@media (min-width: 800px) {
  dl {
    display: flex;
    flex-wrap: wrap;
    padding: 6pt;
    border: 1px solid grey;
    border-radius: 12px;
  }
  dt {
    width: 30%;
  }
  dd {
    width: 70%;
    margin-left: auto;
    margin-bottom: 6pt;
  }
  dd p {
    margin-top: 0;
  }
}
