html { color: black; padding: 20px 10px 10px 10px; }

body { font-size: 14pt; line-height: 1.4em; font-family: Georgia, serif; }

header        { }
header span   { font-family: Arial, Verdana, sans-serif; }
header .big   { font-size: 36pt; border: none; }
header .small { font-size: 22pt; color: gray; }

ul ul { margin-bottom: 0.5em }

dd { margin-left: 2em; }

hr { height: 1px; color: #aaa; background-color: #aaa; border: 0; margin: .2em 0 .2em 0; }

h1.title { font-size: 24pt; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; border-bottom: 1px solid black; }
h1 { font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 16pt; }
h4 h5 h6  { font-size: 14pt; }

ul { list-style-type: square; }
dt { font-weight: bold; margin-bottom: .1em; }

table { margin-top: 1em; margin-bottom: 1em; }
table th { border-bottom: 1px solid black; }

blockquote { padding: 0 1.6em; color: #666; }

main { max-width: 46em; }

footer { padding: 1em; color: #888; text-align: center; font-size: 12pt; }

nav { font-family: Arial, Verdana, sans-serif; font-size: 12pt; font-weight: bold; }
nav { margin-top: 2em; }
nav ul { margin-top: 0; margin-bottom: 0; }
nav ul li { list-style: none; padding: 0; }
nav ul li > ul { margin-left: 1em; }
nav ul li a { text-decoration: none; }
nav label { }

.navbar-default { background-color: transparent; border: none; }

/* Tree menus */
.nav-header:after {
content: "\00A0\25BE";
}

div#toc {
  float: right;
  margin: 10px 0 60px 10px;
  background: white;
}
div#toc:before {
  content: "Table of contents";
  margin: 0 0 15px 40px;
  font-weight: bold;
  display: block;
}
div#toc li { list-style:none; }

div#flattr { float: right; font-size: 12pt; font-family: sans-serif; }
div#paypal { float: right; font-size: 12pt; font-family: sans-serif; }
div#bitcoin { float: right; font-size: 12pt; font-family: sans-serif; }

